* {
  box-sizing: border-box;
}

:root {
  --color-1: #242526;
  --color-2: white;
  --color-3: #0084ff;
  --color-4: grey;
  --color-5: #eb4034;
  --color-6: #333;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 20px;
  background-color: var(--color-1);
  border-bottom: 1px solid var(--color-6);
}
nav a {
  color: var(--color-2);
  text-decoration: none;  
}
nav div a {
  margin-right: 20px;
}